{{> head }}    
{{> navbar }}

<div class="row">
    <div class="col-8">
<h1> Capitan America</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore animi facere sint aspernatur possimus quae consequuntur nesciunt rerum dolorem eum iusto ea minima expedita pariatur nobis, autem deserunt quidem odio!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/capi.png" style="height: 150px; width: 150px;" class="img-thumbnail">
    </div>

</div>

{{> footer }}